
@model appointment_mvc.Models.job_card

@{
	ViewBag.Title = "job_card";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
	  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://jeremyfagis.github.io/dropify/dist/js/dropify.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link href="~/Content/jobcard.css" rel="stylesheet" />
<div class="container-fluid main-section">
	<div class="row">
		<div class="col-lg-12">
			<!-- Pills navs -->
			<ul class="nav nav-pills nav-fill mt-1" id="ex1" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="pill" href="#ex2-pills-1" role="tab"
					   aria-controls="ex2-pills-1" aria-selected="true">Job Card Details</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="ex2-tab-5" data-mdb-toggle="pill" href="#ex2-pills-5" role="tab"
					   aria-controls="ex2-pills-5" aria-selected="false">Cumtomer Complaints</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="ex2-tab-3" data-mdb-toggle="pill" href="#ex2-pills-3" role="tab"
					   aria-controls="ex2-pills-3" aria-selected="false">Labour/part Details</a>
				</li>

				<li class="nav-item" role="presentation">
					<a class="nav-link" id="ex2-tab-4" data-mdb-toggle="pill" href="#ex2-pills-4" role="tab"
					   aria-controls="ex2-pills-4" aria-selected="false">Image Upload</a>
				</li>

				<li class="nav-item" role="presentation">
					<a class="nav-link" id="ex2-tab-2" data-mdb-toggle="pill" href="#ex2-pills-2" role="tab"
					   aria-controls="ex2-pills-2" aria-selected="false">Job Card History</a>
				</li>
			</ul>
			<!-- Pills navs -->

			<div class="section-first">
				<div class="col-lg-2 m-auto">
					<label class="main-head">Jobcard Details</label>
				</div>

				<!--header section row -->
				<div class="row mb-1 section-box">
					<div class="col-lg-3 d-flex">
						<div class="col-lg-6">
							<label class=" lbl">Jobcard No.</label>
						</div>
						<div class="col-lg-4">
							<input type="text" name="jobcard_no" class="form-control readonly " id="job_card" value="@Model.jobcard_no">
						</div>
						<div class="col-lg-2">
							<a href="" class="btn btn-success " id="view">View</a>
						</div>

					</div>

					<div class="col-lg-3 input-box-section">
						<div class="lbl">
							<label class="col-lg-2 lbl">Vehicle No.<label class="req_star">*</label></label>
						</div>
						<input type="text" id="reg_no" class="form-control" onkeypress="return IsNumericreg(event);" required value="@Model.reg_no">
					</div>
					<script type="text/javascript">

						var specialKeys = new Array();
						specialKeys.push(8);
						function IsNumericreg(e) {
							var k = e.which ? e.which : e.keyCode
							var ret = ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57));

							document.getElementById("reg_no").style.border = ret ? "none" : "2px solid red";
							return ret;
						}
					</script>
					<script>
						function formatRegistrationNumber() {
							var regNoInput = document.getElementById('reg_no');
							var regNoValue = regNoInput.value;

							// Remove all non-alphanumeric characters from the input value
							var alphanumericValue = regNoValue.replace(/\W/g, '');

							// Add spaces after every 4 and 6 characters and limit it to a total length of 10 characters
							var formattedValue = alphanumericValue.slice(0, 4) + ' ' + alphanumericValue.slice(4, 6) + ' ' + alphanumericValue.slice(6, 10);

							// Update the input value with the formatted registration number
							regNoInput.value = formattedValue;
						}

						// Attach the event listener to the input element
						var regNoInput = document.getElementById('reg_no');
						regNoInput.addEventListener('input', formatRegistrationNumber);


					</script>




					<div class="col-lg-3 input-box-section">
						<div class="lbl">
							<label class="col-lg-2 lbl">Customer <label class="req_star">*</label></label>
						</div>
						<input type="text" name="cust_name" class="form-control" id="cust_name" value="@Model.cust_name">
					</div>

					<div class="col-lg-3 input-box-section">
						<div class="lbl">
							<label class="col-lg-2 lbl">Date</label>
						</div>
						<input type="text" id="date" class="form-control" value="@Model.date" required>
					</div>

				</div>
				<!--header section row -->
				<!--header section row -->
				<div class="row mb-1 section-box">




					<div class="col-lg-3 input-box-section">
						<div class="lbl">
							<label class="col-lg-2 lbl">Engine No</label>
						</div>
						<input type="text" id="engine" class="form-control" value="@Model.eng_no">
					</div>

					<div class="col-lg-3 input-box-section">
						<div class="lbl">
							<label class="col-lg-2 lbl">Chass. No.</label>
						</div>
						<input type="text" id="chass_No" onkeypress="return IsNumericahss(event);" required class="form-control " value="@Model.chass_No">
						<input type="hidden" name="" class="col-lg-4 form-control" id="hid_chas">
						<ul class="chas_list col-lg-4" id="chas_botl"></ul>
					</div>
					<script type="text/javascript">

						var specialKeys = new Array();
						specialKeys.push(8);
						function IsNumericahss(e) {
							var k = e.which ? e.which : e.keyCode
							var ret = ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || (k >= 48 && k <= 57));

							document.getElementById("chass_No").style.border = ret ? "none" : "2px solid red";
							return ret;
						}
					</script>

					<div class="col-lg-3 input-box-section">
						<div class="lbl">
							<label class="col-lg-2 lbl">WhatsApp No.<label class="req_star">*</label></label>
						</div>

						<input type="text" class="form-control" id="mobile_f" onkeypress="return IsNumerica(event);" maxlength="10" value="@Model.mobile_f" /><br />

					</div>

					<script type="text/javascript">
						var specialKeys = new Array();
						specialKeys.push(8);
						function IsNumerica(e) {
							var keyCode = e.which ? e.which : e.keyCode
							var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

							document.getElementById("mobile_f").style.border = ret ? "none" : "2px solid red";

							return ret;
						}
					</script>


					<div class="col-lg-3 input-box-section">
						<div class="lbl">
							<label class="col-lg-2 lbl">Email ID</label>
						</div>
						<input type="text" id="mobile_2" class="form-control" value="@Model.mobile_2">

					</div>
					<script type="text/javascript">
						var specialKeys = new Array();
						specialKeys.push(8);
						function IsNumericb(e) {
							var keyCode = e.which ? e.which : e.keyCode
							var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

							document.getElementById("mobile_2").style.border = ret ? "none" : "2px solid red";
							return ret;
						}
					</script>

				</div>

				<div class="row mb-1 section-box">




					<div class="col-lg-3 input-box-section">
						<div class="lbl">
							<label class="col-lg-2 lbl">Model</label>
						</div>
						<input type="text" id="modl" class="form-control" value="@Model.modl_code">
						<input type="hidden" name="" class="col-lg-4 form-control" id="hid_model">
						<input type="hidden" name="" class="col-lg-4 form-control" id="hid_model_id">
						<ul class="model_list col-lg-4">
						</ul>
					</div>

					<div class="col-lg-3 input-box-section">
						<div class="lbl">
							<label class="col-lg-2 lbl">Fuel Type</label>
						</div>

						<select id="fuel_type" class="form-control" @(Model.fule_type != "" ? "data-select=" + Model.fule_type + "" : "")>
							<option value="">--Select--</option>
							<option value="1">Petrol</option>
							<option value="2">Diesel</option>
							<option value="3">CNG</option>
						</select>

					</div>

					<div class="col-lg-6 input-box-section">

						<label class=" lbl1">Address<label class="req_star">*</label></label>


						<input type="text" id="address" class="form-control" value="@Model.address">


					</div>


					<!--header section row -->
				</div>
			</div>

			<div class="row">
				<div class="col-lg-11">
					<!-- Pills content -->
					<div class="tab-content" id="ex2-content">
						<div class="tab-pane fade show active" id="ex2-pills-1" role="tabpanel"
							 aria-labelledby="ex2-tab-1">
							<div class="section-first">
								@*<div class="row">
								<div class="col-lg-12">
									<label class="sub-head">Vehicle Details</label>
								</div>
							</div>*@
								<!--tab-1 section row -->
								<div class="row mb-1 section-box">


									<div class="col-lg-3 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Srv. Type</label>
										</div>
										<select id="service_type" class="form-control" @(Model.service_type != "" ? "data-select=" + Model.service_type + "" : "")>
											<option value="">--Select--</option>
											@if (Model.serv_type != null && Model.serv_type.Count > 0)
											{
												foreach (var item in Model.serv_type)
												{
													<option value="@item.type_code">@item.ser_type</option>

												}
											}


										</select>
									</div>

									<div class="col-lg-3 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Srv. Adviser</label>
										</div>
										<select id="service_adviser" class="form-control" @(Model.service_adviser != "" ? "data-select=" + Model.service_adviser + "" : "")>
											<option value="">--Select--</option>
											@if (Model.serv_adv != null && Model.serv_adv.Count > 0)
											{
												foreach (var item in Model.serv_adv)
												{
													<option value="@item.adv_code">@item.ser_adv</option>
												}
											}
										</select>
									</div>

									<div class="col-lg-3 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">KMS</label>
										</div>
										<input type="text" id="kms" onkeypress="return IsNumerickms(event);" class="form-control" value="@Model.kms">
										<script type="text/javascript">
											var specialKeys = new Array();
											specialKeys.push(8);
											function IsNumerickms(e) {
												var keyCode = e.which ? e.which : e.keyCode
												var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

												document.getElementById("kms").style.border = ret ? "none" : "2px solid red";
												return ret;
											}
										</script>
									</div>

									<div class="col-lg-3 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Average</label>
										</div>
										<input type="text" id="avrage" onkeypress="return IsNumericavg(event);" class="form-control" value="@Model.avrage">
										<script type="text/javascript">
											var specialKeys = new Array();
											specialKeys.push(8);
											function IsNumericavg(e) {
												var keyCode = e.which ? e.which : e.keyCode
												var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);

												document.getElementById("avrage").style.border = ret ? "none" : "2px solid red";
												return ret;
											}
										</script>
									</div>
								</div>
								<!--tab-1 section row -->
								<!--tab-1 section row -->
								<!--tab-1 section row -->
							</div>


							<div class="section-first">

								<!-- Modal for camera -->
								<div id="myModal" class="modal">
									<div class="modal-content">
										<span class="close">&times;</span>
										<div id="cameraContainer">
											Upload Image
											<input id="imagecheck" type="file" class="dropify" data-default-file="/tempimage/@Model.img_check" />
											<input type="hidden" id="img_check" />
										</div>
									</div>
								</div>


								<div class="row">
									<div class="row">
										<label class="sub-head col-lg-2">Vehicle Check List</label>
										<div class="col-lg-2 input-box-section justify-content-around">
											<div class="">
												<label class="">Select All</label>
											</div>
											<input type="checkbox" id="select_all" class="form-check-input">
										</div>
									</div>
								</div>
								<!--tab-1 section row -->
								<div class="row mb-1 section-box">
									<div class="col-lg-2 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Service Book</label>
										</div>
										<input type="checkbox" id="seervice_book" class="form-check-input" @(Model.seervice_book == "1" ? "checked" : "")>
									</div>

									<div class="col-lg-2 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Wheel Cap</label>
										</div>
										<input type="checkbox" id="wheel" class="form-check-input" @(Model.wheel == "1" ? "checked" : "")>

									</div>

									<div class="col-lg-2 dis-none input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Extend Warr.</label>
										</div>
										<input type="checkbox" id="extend_warrnt" class="form-check-input" @(Model.extend_warrnt == "1" ? "checked" : "")>

									</div>

									<div class="col-lg-2 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Toolkit</label>
										</div>
										<input type="checkbox" id="toolkit" class="form-check-input" @(Model.toolkit == "1" ? "checked" : "")>

									</div>

									<div class="col-lg-2  input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Mud Flaps</label>
										</div>
										<input type="checkbox" id="mudflaps" class="form-check-input" @(Model.mudflaps == "1" ? "checked" : "")>

									</div>

									<div class="col-lg-2 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Boot Mats</label>
										</div>
										<input type="checkbox" id="boot_mats" class="form-check-input" @(Model.boot_mats == "1" ? "checked" : "")>

									</div>

									<div class="col-lg-2 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Dent and Scratch</label>
										</div>
										<input type="checkbox" id="Dent" class="form-check-input" @(Model.Dent == "1" ? "checked" : "")>
									</div>

								</div>
								<!--tab-2 section row -->
								<!--tab-2 section row -->
								<div class="row mb-1 section-box">

									<div class="col-lg-2 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Lighter</label>
										</div>
										<input type="checkbox" id="Lighter" class="form-check-input" @(Model.Lighter == "1" ? "checked" : "")>

									</div>

									<div class="col-lg-2 dis-none input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">fuel</label>
										</div>
										<input type="checkbox" id="fule" class="form-check-input" @(Model.fule == "1" ? "checked" : "")>

									</div>

									<div class="col-lg-2 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Stereo</label>
										</div>
										<input type="checkbox" id="Stereo" class="form-check-input" @(Model.Stereo == "1" ? "checked" : "")>


									</div>

									<div class="col-lg-2 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Extra Tyres</label>
										</div>
										<input type="checkbox" id="Tyres" class="form-check-input" @(Model.Tyres == "1" ? "checked" : "")>

									</div>
								</div>
								<!--tab-2 section row -->
								<!--tab-2 section row -->
								<div class="row mb-1 section-box">
									<div class="col-lg-4 dis-none input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">jack</label>
										</div>
										<input type="checkbox" id="jack" class="form-check-input" @(Model.jack == "1" ? "checked" : "")>

									</div>




								</div>
								<!--tab-2 section row -->
								<!--tab-2 section row -->
								<div class="row mb-1 section-box">
									<div class="col-lg-4 dis-none input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">jack Handl</label>
										</div>
										<input type="checkbox" id="jack_handle" class="form-check-input" @(Model.jack_handle == "1" ? "checked" : "")>

									</div>



									<div class="col-lg-4 dis-none input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Crack</label>
										</div>
										<input type="checkbox" id="Crack" class="form-check-input" @(Model.Crack == "1" ? "checked" : "")>

									</div>
								</div>
								<!--tab-2 section row -->
								<!--tab-2 section row -->
								<div class="row mb-1 section-box">


								</div>
								<!--tab-2 section row -->

							</div>

							<div class="section-first">
								<div class="row">
									<div class="col-lg-12">
										<label class="sub-head">Bill Details</label>
									</div>
								</div>
								<!--tab-1 section row -->
								<div class="row mb-1 section-box">
									<div class="col-lg-3 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Parts Amt</label>
										</div>
										<input type="text" id="parts_amt" class="form-control readonly" value="@Model.parts_amt" readonly>
									</div>

									<div class="col-lg-3 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Labour Charge</label>
										</div>
										<input type="text" id="labour_charg" class="form-control readonly" value="@Model.labour_charg" readonly>
									</div>

									<div class="col-lg-3 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Total</label>
										</div>
										<input type="text" id="total" class="form-control readonly" value="@Model.total" readonly>
									</div>

									<div class="col-lg-3 input-box-section">
										<div class="lbl">
											<label class="col-lg-2 lbl">Job Card Status</label>
										</div>

										<select id="job_status" class="form-control" @(Model.job_status != "" ? "data-select=" + Model.job_status + "" : "")>
											<option value="">--Select--</option>
											<option value="1">Open</option>
											<option value="2">Payment Pending</option>
											<option value="3">Closed</option>
										</select>

									</div>

								</div>


								<!--tab-1 section row -->
							</div>



						</div>

						<div class="tab-pane fade" id="ex2-pills-5" role="tabpanel" aria-labelledby="ex2-tab-5">
							<div class="section-first">
								<div class="row">
									<div class="col-lg-4">
										<!--tab-1 section row -->
										<div class="row mb-1 section-box">
											<div class="col-lg-12 input-box-section">

												<label class="col-lg-12 sub-head">Customer Complaint</label>

											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">

												<input type="text" id="cust_comp1" class="form-control" value="@Model.cust_comp1">

											</div>
										</div>



										<div class="row section-box">
											<div class="col-lg-12 input-box-section">

												<input type="text" id="cust_comp2" class="form-control" value="@Model.cust_comp2">

											</div>
										</div>

										<div class="row section-box">
											<div class="col-lg-12 input-box-section">

												<input type="text" id="cust_comp3" class="form-control" value="@Model.cust_comp3">

											</div>
										</div>

										<div class="row section-box">
											<div class="col-lg-12 input-box-section">

												<input type="text" id="cust_comp4" class="form-control" value="@Model.cust_comp4">

											</div>
										</div>

										<div class="row section-box">
											<div class="col-lg-12 input-box-section">

												<input type="text" id="cust_comp5" class="form-control" value="@Model.cust_comp5">

											</div>
										</div>

										<div class="row section-box">
											<div class="col-lg-12 input-box-section">

												<input type="text" id="cust_comp6" class="form-control" value="@Model.cust_comp6">

											</div>
										</div>

										<div class="row section-box">
											<div class="col-lg-12 input-box-section">

												<input type="text" id="cust_comp7" class="form-control" value="@Model.cust_comp7">

											</div>
										</div>

										<div class="row section-box">
											<div class="col-lg-12 input-box-section">

												<input type="text" id="cust_comp8" class="form-control" value="@Model.cust_comp8">

											</div>
										</div>
										<!--tab-1 section row -->
									</div>

									<div class="col-lg-4">
										<div class="row mb-1 section-box">
											<div class="col-lg-12 input-box-section">
												<label class="col-lg-12 sub-head">Adviser Observation</label>
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<input type="text" id="Cust_Obsr1" class="form-control" value="@Model.Cust_Obsr1">
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<input type="text" id="Cust_Obsr2" class="form-control" value="@Model.Cust_Obsr2">
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<input type="text" id="Cust_Obsr3" class="form-control" value="@Model.Cust_Obsr3">
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<input type="text" id="Cust_Obsr4" class="form-control" value="@Model.Cust_Obsr4">
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<input type="text" id="Cust_Obsr5" class="form-control" value="@Model.Cust_Obsr5">
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<input type="text" id="Cust_Obsr6" class="form-control" value="@Model.Cust_Obsr6">
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<input type="text" id="Cust_Obsr7" class="form-control" value="@Model.Cust_Obsr7">
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<input type="text" id="Cust_Obsr8" class="form-control" value="@Model.Cust_Obsr8">
											</div>
										</div>

									</div>

									<div class="col-lg-4">
										<div class="row mb-1 section-box">
											<div class="col-lg-12 input-box-section">
												<label class="col-lg-2 sub-head">Status</label>
											</div>
										</div>

										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<select id="source1" class="form-control" @(Model.source1 != "" ? "data-select=" + Model.source1 + "" : "")>
													<option value="">--Select--</option>
													<option value="1">Attended</option>
													<option value="2">Coustomer Refused</option>
													<option value="3">Part Not Available</option>
													<OPtion value="4">manpower Shortage </OPtion>
													<option value="5">Facility not available</option>
												</select>
											</div>
										</div>

										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<select id="source2" class="form-control" @(Model.source2 != "" ? "data-select=" + Model.source2 + "" : "")>
													<option value="">--Select--</option>
													<option value="0">Attended</option>
													<option value="1">Coustomer Refused</option>
													<option value="2">Part Not Available</option>
													<OPtion value="3">manpower Shortage </OPtion>
													<option value="4">Facility not available</option>
												</select>
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<select id="source3" class="form-control" @(Model.source3 != "" ? "data-select=" + Model.source3 + "" : "")>
													<option value="">--Select--</option>
													<option value="1">Attended</option>
													<option value="2">Coustomer Refused</option>
													<option value="3">Part Not Available</option>
													<OPtion value="4">manpower Shortage </OPtion>
													<option value="5">Facility not available</option>
												</select>
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<select id="source4" class="form-control" @(Model.source4 != "" ? "data-select=" + Model.source4 + "" : "")>
													<option value="">--Select--</option>
													<option value="1">Attended</option>
													<option value="2">Coustomer Refused</option>
													<option value="3">Part Not Available</option>
													<OPtion value="4">manpower Shortage </OPtion>
													<option value="5">Facility not available</option>
												</select>
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<select id="source5" class="form-control" @(Model.source5 != "" ? "data-select=" + Model.source5 + "" : "")>
													<option value="">--Select--</option>
													<option value="1">Attended</option>
													<option value="2">Coustomer Refused</option>
													<option value="3">Part Not Available</option>
													<OPtion value="4">manpower Shortage </OPtion>
													<option value="5">Facility not available</option>
												</select>
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<select id="source6" class="form-control" @(Model.source6 != "" ? "data-select=" + Model.source6 + "" : "")>
													<option value="">--Select--</option>
													<option value="1">Attended</option>
													<option value="2">Coustomer Refused</option>
													<option value="3">Part Not Available</option>
													<OPtion value="4">manpower Shortage </OPtion>
													<option value="5">Facility not available</option>
												</select>
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<select id="source7" class="form-control" @(Model.source7 != "" ? "data-select=" + Model.source7 + "" : "")>
													<option value="">--Select--</option>
													<option value="1">Attended</option>
													<option value="2">Coustomer Refused</option>
													<option value="3">Part Not Available</option>
													<OPtion value="4">manpower Shortage </OPtion>
													<option value="5">Facility not available</option>
												</select>
											</div>
										</div>
										<div class="row section-box">
											<div class="col-lg-12 input-box-section">
												<select id="source8" class="form-control" @(Model.source8 != "" ? "data-select=" + Model.source8 + "" : "")>
													<option value="">--Select--</option>
													<option value="1">Attended</option>
													<option value="2">Coustomer Refused</option>
													<option value="3">Part Not Available</option>
													<OPtion value="4">manpower Shortage </OPtion>
													<option value="5">Facility not available</option>
												</select>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="ex2-pills-2" role="tabpanel" aria-labelledby="ex2-tab-2">
							<table class="styled-table" style="table-layout:fixed; width:100%;" id="table_history">
								<thead>
									<tr>
										<th>JOb NO.</th>
										<th>Date</th>
										<th>Customer Name</th>
										<th>Bill Amount</th>
										<th>Phone No </th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>

						<div class="tab-pane fade" id="ex2-pills-3" role="tabpanel" aria-labelledby="ex2-tab-3">

							<div class="row">
								<div class="section-first p-1  col-sm-6 detail_box">
									<div class="row mb-1 ">

										<div class="col-md-2">
											<label class="lbl">Part No.</label>
										</div>

										<div class="col-md-4" id="bind">
											<input type="text" name="part_no" class="col-lg-4 form-control" id="txtdepartureairport">
											<input type="hidden" name="" class="col-lg-4 form-control" id="hid_item">
											<ul class="autocompletelist"></ul>

										</div>




										<div class="col-md-2">
											<label class="lbl">Part Desc.</label>
										</div>

										<div class="col-md-4">
											<input type="text" name="part_desc" class="col-lg-4 form-control" id="part_name">
										</div>
									</div>

									<div class="row mb-1 ">
										<div class="col-md-2">
											<label class="lbl">QTY</label>
										</div>
										<div class="col-md-4">
											<input type="text" name="qty" id="qty" onblur="addSuffix(this)" onkeyup="multiply()" class="form-control">
										</div>

										<div class="col-md-2">
											<label class="lbl">Part Rate</label>
										</div>
										<div class="col-md-4">
											<input type="text" name="part_rate" id="unit_rate" onblur="addSuffix(this)" onkeyup="multiply()" class="form-control">
										</div>


									</div>

									<div class="row mb-1 ">
										<div class="col-md-2">
											<label class="lbl">Category</label>
										</div>
										<div class="col-md-4">
											<select id="categorypart" class="form-control" @(Model.source5 != "" ? "data-select=" + Model.source5 + "" : "")>
												<option value="">--Select--</option>
												<option value="1">Paid</option>
												<option value="2">Warranty</option>
												<option value="3">Free of cost</option>
											</select>
										</div>

										<div class="col-md-2">
											<label class="lbl">Total Amt</label>
										</div>
										<div class="col-md-4">
											<input type="text" name="total_amt" id="total_amt" readonly="readonly" class="form-control">
										</div>

									</div>
									<div class="row mb-1 ">

										<div class="col-md-6 ">
											<a id="part_data" class="btn btn-success" onclick="addData()">ADD</a>
										</div>
									</div>

									<div class="row mb-1" style="padding:15px 15px">
										<table class="styled-table" style="table-layout:fixed;" id="table">
											<thead>
												<tr>
													<th>Part Code</th>
													<th>Part Name</th>
													<th>QTY</th>
													<th>Part Rate</th>
													<th>Total Amt</th>
													<th>Category</th>
													<th>Action</th>
												</tr>
											</thead>

											<tbody id="table_body">
											</tbody>
										</table>
										<p id="vall"></p>
									</div>

									@if (Model.item_list != null && Model.item_list.Count > 0)
									{
										<div class="row mb-1">
											<div class="col-md-4">
												<label class="lbl">Items History</label>
											</div>
										</div>
										<div class="row mb-1" style="padding: 15px 15px;">
											<table class="styled-table" style="table-layout: fixed;" id="table11">
												<thead>
													<tr>
														<th>Part Code</th>
														<th>Part Name</th>
														<th>QTY</th>
														<th>Part Rate</th>
														<th>Total Amt</th>
														<th>Category</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody id="table_body1">
													@foreach (var item in Model.item_list)
													{
														<tr>
															<td>@item.item_code</td>
															<td>@item.part_desc</td>
															<td>@item.qty</td>
															<td>@item.per_rate</td>
															<td>@item.total_amt</td>
															<td>@item.category</td>
															<td>
																<a href="#" class="delete-link">Delete</a>
															</td>
														</tr>
													}
												</tbody>
											</table>
											<p id="vall"></p>
										</div>
									}

								</div>
								<div class="section-first  col-sm-6 detail_box">
									<div class="row mb-1 ">
										<div class="col-md-2">

											<label class="lbl">Labour NO.</label>
										</div>

										<div class="col-md-4">

											<input type="text" name="part_no" class="form-control" id="labr_no">
										</div>

										<div class="col-md-2">

											<label class="lbl">Lab. Name</label>
										</div>
										<div class="col-md-4">
											<input type="text" name="part_no" class="form-control" id="labr_name">
											
										</div>
									</div>


									<div class="row mb-1">
										<div class="col-md-2 ">
											<label class="lbl">Lab. Chrg</label>
										</div>
										<div class="col-md-4 ">

											<input type="text" name="part_rate" onblur="addSuffix(this)" class="form-control" id="labr_charge">
										</div>

										<div class="col-md-2">
											<label class="lbl">Category</label>
										</div>
										<div class="col-md-4">
											<select id="categorylbr" class="form-control" @(Model.source5 != "" ? "data-select=" + Model.source5 + "" : "")>
												<option value="">--Select--</option>
												<option value="1">Paid</option>
												<option value="2">Warranty</option>
												<option value="3">Free</option>
											</select>
										</div>

										<div class="col-md-4 ">
											<a id="part_data" class="btn  btn-success" onclick="addlabr_Data()">Add</a>
										</div>
									</div>

									<div class="row mb-1 " style="padding:15px 15px">
										<table class="styled-table" style="table-layout:fixed;" id="labr_table">
											<thead>
												<tr>

													<th>Labour NO</th>
													<th>Labour Name</th>
													<th>Labour Charge</th>
													<th>Category</th>
													<th>Action</th>

												</tr>
											</thead>

											<tbody id="labr_tablebody">
											</tbody>
										</table>
										<p id="lab_vall"></p>
									</div>


									@if (Model.labr_list != null && Model.labr_list.Count > 0)
									{
										<div class="row mb-1 ">
											<div class="col-md-4">
												<label class="lbl">Labour History</label>
											</div>
										</div>
										<div class="row mb-1" style="padding: 15px 15px;">

											<table class="styled-table" style="table-layout: fixed;" id="table12">
												<thead>
													<tr>
														<th>Labour NO</th>
														<th>Labour Name</th>
														<th>Labour Charge</th>
														<th>Category</th>
														<th>Action</th>
													</tr>
												</thead>
												<tbody id="table_body2">
													@foreach (var item in Model.labr_list)
													{
														<tr>
															<td>@item.labr_no</td>
															<td>@item.labr_name</td>
															<td>@item.labr_charg</td>
															<td>@item.category</td>
															<td>
																<a href="#" class="delete-link1">Delete</a>
															</td>
														</tr>
													}
												</tbody>
											</table>

											<p id="vall"></p>
										</div>
									}


								</div>
							</div>


							<div class="row">



							</div>
						</div>

						<div class="tab-pane fade" id="ex2-pills-4" role="tabpanel" aria-labelledby="ex2-tab-4">
							<div class="section-first">
								<div class="row">
									<div class="col-lg-12">
										<label class="sub-head">Vehicle Details</label>

									</div>
								</div>

								<div class="row mb-1 section-box">
									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload1" type="file" class="dropify" data-default-file="/tempimage/@Model.img1" />
											<input type="hidden" id="img1" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload2" type="file" class="dropify" data-default-file="/tempimage/@Model.img2" />
											<input type="hidden" id="img2" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload3" type="file" class="dropify" data-default-file="/tempimage/@Model.img3" />
											<input type="hidden" id="img3" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload4" type="file" class="dropify" data-default-file="/tempimage/@Model.img4" />
											<input type="hidden" id="img4" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload5" type="file" class="dropify" data-default-file="/tempimage/@Model.img5" />
											<input type="hidden" id="img5" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload6" type="file" class="dropify" data-default-file="/tempimage/@Model.img6" />
											<input type="hidden" id="img6" />
										</label>
									</div>
								</div>

								<div class="row mb-1 section-box">
									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload7" type="file" class="dropify" data-default-file="/tempimage/@Model.img7" />
											<input type="hidden" id="img7" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload8" type="file" class="dropify" data-default-file="/tempimage/@Model.img8" />
											<input type="hidden" id="img8" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload9" type="file" class="dropify" data-default-file="/tempimage/@Model.img9" />
											<input type="hidden" id="img9" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload10" type="file" class="dropify" data-default-file="/tempimage/@Model.img10" />
											<input type="hidden" id="img10" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload11" type="file" class="dropify" data-default-file="/tempimage/@Model.img11" />
											<input type="hidden" id="img11" />
										</label>
									</div>

									<div class="col-lg-2 input-box-section">
										<label>
											Upload Image
											<input id="fileupload12" type="file" class="dropify" data-default-file="/tempimage/@Model.img12" />
											<input type="hidden" id="img12" />
										</label>
									</div>
								</div>

							</div>
						</div>


					</div>
				</div>

				<div class="col-lg-1 media-qry"
					 style="background-color: #ffffff91; border-radius: 20px; !important;">
					<div class="img-box">
						<button type="submit" id="jobcard_save"><img src="~/Media/Save.png" alt="save" /></button>
						<Label id="lable" CssClass="col-form-label img-lbl">Save</Label>

					</div>

					
					<div class="img-box">
						<a href="" id="refresh"><img src="~/Media/Reset.png" alt="cancel" /></a>
						<Label id="lable" CssClass="col-form-label img-lbl">Refresh</Label>
					</div>

					<div class="img-box">
						<a href="" id="print" target="_blank"><img src="~/Media/Print.png" alt="cancel" /></a>
						<Label id="lable" CssClass="col-form-label img-lbl">Print Jobcard</Label>
					</div>

					<div class="img-box">
						<a href="" id="inprint" target="_blank"><img src="~/Media/Print.png" alt="invoice print" /></a>
						<Label id="lable" CssClass="col-form-label img-lbl">Print Invoice</Label>
					</div>
				</div>
				<!-- Pills content -->
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

<script>
	var date = document.getElementById('date');

	function checkValue(str, max) {
		if (str.charAt(0) !== '0' || str == '00') {
			var num = parseInt(str);
			if (isNaN(num) || num <= 0 || num > max) num = 1;
			str = num > parseInt(max.toString().charAt(0)) && num.toString().length == 1 ? '0' + num : num.toString();
		};
		return str;
	};

	date.addEventListener('input', function (e) {
		this.type = 'text';
		var input = this.value;
		if (/\D\/$/.test(input)) input = input.substr(0, input.length - 3);
		var values = input.split('/').map(function (v) {
			return v.replace(/\D/g, '')
		});
		if (values[0]) values[0] = checkValue(values[0], 31);
		if (values[1]) values[1] = checkValue(values[1], 12);
		if (values[2]) values[2] = checkValue(values[2], 99);
		var output = values.map(function (v, i) {
			return v.length == 2 && i < 2 ? v + '/' : v;
		});
		this.value = output.join('').substr(0, 14);
	});

	date.addEventListener('blur', function (e) {
		this.type = 'text';
		var input = this.value;
		var values = input.split('/').map(function (v, i) {
			return v.replace(/\D/g, '')
		});
		var output = '';

		if (values.length == 3) {
			var year = values[2].length !== 4 ? parseInt(values[2]) + 2000 : parseInt(values[2]);
			var month = parseInt(values[1]) - 1;
			var day = parseInt(values[0]);
			var d = new Date(year, month, day);
			if (!isNaN(d)) {
				document.getElementById('result').innerText = d.toString();
				var dates = [d.getMonth() + 1, d.getDate(), d.getFullYear()];
				output = dates.map(function (v) {
					v = v.toString();
					return v.length == 1 ? '0' + v : v;
				}).join('/');
			};
		};
		this.value = output;
	});

</script>


<script>
	$('#mobile_f').on("blur", function () {
		var mobile_f = $("#mobile_f").val().trim();
		if (mobile_f == null || mobile_f == "" || mobile_f.length < 10) {

			$("#mobile_f").focus().css('border', '2px solid red');
			return false;
		}


	});
	$('#mobile_2').on("blur", function () {
		var mobile_2 = $("#mobile_2").val().trim();
		if (mobile_2.length < 10 && mobile_2.length >= 1) {

			$("#mobile_2").focus().css('border', '2px solid red');
			return false;
		}


	});
</script>

<script>
	$('.dropify').dropify();

	$("[data-select]").each(function () {
		var obj = $(this);
		obj.val(obj.attr("data-select"))
	});
</script>


<script>


	$('#view').on("click", function () {
		var job_id = $('#job_card').val();

		$('#view').attr('href', '/home/job_card?job_id=' + job_id);
	});

	$('#refresh').on("click", function () {
		var job_id = "";

		$('#refresh').attr('href', '/home/job_card?job_id=' + job_id);
	});

	$('#print').on("click", function () {
		var job_id = $('#job_card').val();

		$('#print').attr('href', '/home/print_card?job_id=' + job_id);
	});

	$('#save').on("click", function () {
		var job_id = $('#job_card').val();

		$('#save').attr('href', '/home/job_report?job_id=' + job_id);
	});

	$('#inprint').on("click", function () {
		var job_id = $('#job_card').val();

		$('#inprint').attr('href', '/home/invoice_print?job_id=' + job_id);
	});

</script>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
	function multiply() {
		var a = $("#qty").val();
		var b = $("#unit_rate").val();
		var c = (a * b).toFixed(2); // Round the result to 2 decimal places
		$("#total_amt").val(c);
	}
</script>


<script>

	function addData() {
		var part_no = document.getElementById("hid_item").value;
		var part_name = document.getElementById("part_name").value;
		var qty = document.getElementById("qty").value;
		var per_rate = document.getElementById("unit_rate").value;
		var category = document.getElementById("categorypart").value;
		var total = (parseFloat(qty) * parseFloat(per_rate)).toFixed(2); // Calculate total with 2 decimal places

		var table = document.getElementById("table_body");
		var row = table.insertRow();
		var part_noCell = row.insertCell(0);
		var part_nameCell = row.insertCell(1);
		var qtyCell = row.insertCell(2);
		var per_rateCell = row.insertCell(3);
		var totalCell = row.insertCell(4);
		var CategoryeCell = row.insertCell(5);
		var deleteCell = row.insertCell(6);


		part_noCell.innerHTML = part_no;
		part_nameCell.innerHTML = part_name;
		qtyCell.innerHTML = qty;
		per_rateCell.innerHTML = per_rate;
		totalCell.innerHTML = total;
		CategoryeCell.innerHTML = category;
		deleteCell.innerHTML = "<button href='' onclick='deleteRow(this)' id='del'>Delete</button>";

		var sumVal = 0;

		$('#table_body tr').each(function (row, tr) {
			sumVal += parseFloat($(tr).find('td:eq(4)').text());
		});

		$('#vall').html("Sum Value = " + sumVal.toFixed(2)); // Display sum value with 2 decimal places
		$('#parts_amt').val(sumVal.toFixed(2)); // Set parts amount field value with 2 decimal places

		var aa = parseInt($("#labour_charg").val());
		var bb = parseInt($("#parts_amt").val());

		if (aa == null || aa == "" || aa == NaN) {
			aa = 0;
		}

		if (bb == null || bb == "" || aa == NaN) {
			bb = 0;
		}

		var tt = aa + bb;
		$('#total').val(tt);
	}


	function deleteRow(row) {
		var i = row.parentNode.parentNode.rowIndex;
		document.getElementById("table").deleteRow(i);

		var sumVal = 0;

		$('#table_body tr').each(function (row, tr) {
			sumVal += parseInt($(tr).find('td:eq(4)').text());
		});

		$('#vall').html("Sum Value = " + sumVal);
		$('#parts_amt').val(sumVal);
	}


</script>

<script>

	function addlabr_Data() {
		var labr_no = document.getElementById("labr_no").value;
		var labr_name = document.getElementById("labr_name").value;
		var labr_charge = document.getElementById("labr_charge").value;
		var category = document.getElementById("categorylbr").value;


		var table = document.getElementById("labr_tablebody");
		var row = table.insertRow();
		var labr_noCell = row.insertCell(0);
		var labr_nameCell = row.insertCell(1);
		var labr_chargeCell = row.insertCell(2);
		var CategoryeCell = row.insertCell(3);
		var lab_deleteCell = row.insertCell(4);

		labr_noCell.innerHTML = labr_no;
		labr_nameCell.innerHTML = labr_name;
		CategoryeCell.innerHTML = category;
		labr_chargeCell.innerHTML = labr_charge;

		lab_deleteCell.innerHTML = "<button href='' onclick='deletelab_Row(this)'>Delete</button>";

		var sumVal = 0;

		$('#labr_tablebody tr').each(function (row, tr) {
			sumVal += parseFloat($(tr).find('td:eq(2)').text());
		});

		$('#lab_vall').html("Sum Value = " + sumVal.toFixed(2)); // Display sum value with 2 decimal places
		$('#labour_charg').val(sumVal.toFixed(2)); // Set labour charge field value with 2 decimal places

		var aa = parseInt($("#labour_charg").val());
		var bb = parseInt($("#parts_amt").val());

		if (aa == null || aa == "" || aa == NaN) {
			aa = 0;
		}

		if (bb == null || bb == "" || aa == NaN) {
			bb = 0;
		}

		var tt = aa + bb;
		$('#total').val(tt);
	}

	function deletelab_Row(row) {
		var i = row.parentNode.parentNode.rowIndex;
		document.getElementById("labr_table").deleteRow(i);

		var sumVal = 0;

		$('#labr_tablebody tr').each(function (row, tr) {
			sumVal += parseInt($(tr).find('td:eq(2)').text());
		});

		$('#lab_vall').html("Sum Value = " + sumVal);
		$('#labour_charg').val(sumVal);
	}

</script>




<script>
	(function ($) {
		$.fn.extend({
			donetyping: function (callback, timeout) {
				timeout = timeout || 500; // 1 second default timeout
				var timeoutReference,
					doneTyping = function (el) {
						if (!timeoutReference) return;
						timeoutReference = null;
						callback.call(el);
					};
				return this.each(function (i, el) {
					var $el = $(el);
					// Chrome Fix (Use keyup over keypress to detect backspace)

					$el.is(':input') && $el.on('keyup keydown keypress paste', function (e) {
						// This catches the backspace button in chrome, but also prevents
						// the event from triggering too preemptively. Without this line,
						// using tab/shift+tab will make the focused element fire the callback.
						if (e.type == 'keyup' && e.keyCode != 8) return;

						// Check if timeout has been set. If it has, "reset" the clock and
						// start over again.
						if (timeoutReference) clearTimeout(timeoutReference);
						timeoutReference = setTimeout(function () {
							// if we made it here, our timeout has elapsed. Fire the
							// callback
							doneTyping(el);
						}, timeout);
					}).on('blur', function () {
						// If we can, fire the event since we're leaving the field
						doneTyping(el);
					});
				});
			}
		});
	})(jQuery);
</script>


@* for suggestions of the parts *@
<script>
	$("#txtdepartureairport").donetyping(function () {
		var value = $(this).val();
		if (value.length == 0) {
			$(".autocompletelist").css('display', 'none')
		}

		else if (value.length > 2) {
			$.ajax({

				url: "/home/airportsearch",
				async: true,
				data: "{ 'search': '" + value + "'}",
				type: 'POST',
				headers: { "Accept": "application/json" },
				contentType: 'application/json',
				success: function (data, textStatus, xhr) {
					console.log(data);
					if (data.length > 0) {
						$(".autocompletelist").css('display', 'block')
						var html = "";
						var firsthtmlairportcode = "";
						$.each(data, function (i, val) {

							firsthtmlairportcode = firsthtmlairportcode + "<li data-id='" + val.item_code + "' part-name='" + val.part_name + "' rate='" + val.per_rate + "' part-no='" + val.part_no + "'>" + val.part_no + " | " + val.part_name + " </li>";
						});

						$("#bind .autocompletelist").html(firsthtmlairportcode + html)
					} else {
						$(".autocompletelist").css('display', 'none')

					}
				},

				complete: function () {


				}

			});
		} else {
			$(".autocompletelistcity").hide();
		}
	})
</script>



@*chassis no search*@
<script>
	$("#chass_No").donetyping(function () {
		var value = $(this).val();
		if (value.length == 0) {
			$(".chas_list").css('display', 'none')
		}

		else if (value.length > 0) {
			$.ajax({

				url: "/home/chas_search",
				async: true,
				data: "{ 'search': '" + value + "'}",
				type: 'POST',
				headers: { "Accept": "application/json" },
				contentType: 'application/json',
				success: function (data, textStatus, xhr) {
					console.log(data);
					if (data.length > 0) {
						$(".chas_list").css('display', 'block')
						var html = "";
						var firsthtmlairportcode = "";
						$.each(data, function (i, val) {

							firsthtmlairportcode = firsthtmlairportcode + "<li data-id='" + val.chas_id + "'  data-no='" + val.chas_no + "' reg_no='" + val.reg_no + "' eng_no='" + val.eng_no + "' modl_id='" + val.modl_id + "'>" + val.chas_no + " </li>";
						});

						$(".chas_list").html(firsthtmlairportcode + html)
					} else {
						$(".chas_list").css('display', 'none')

					}
				},

				complete: function () {


				}

			});
		} else {
			$(".autocompletelistcity").hide();
		}
	})
</script>

@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>*@

<script>
	$("#modl").donetyping(function () {
		var value = $(this).val();
		if (value.length == 0) {
			$(".model_list").css('display', 'none')
		}

		else if (value.length > 0) {
			$.ajax({

				url: "/home/model_search",
				async: true,
				data: "{ 'search': '" + value + "'}",
				type: 'POST',
				headers: { "Accept": "application/json" },
				contentType: 'application/json',
				success: function (data, textStatus, xhr) {
					console.log(data);
					if (data.length > 0) {
						$(".model_list").css('display', 'block')
						var html = "";
						var firsthtmlairportcode = "";
						$.each(data, function (i, val) {

							firsthtmlairportcode += ("<li data-id='" + val.model_no + "'  data-no='" + val.model_name + "' modl_id='" + val.model_id + "' >" + val.model_name + " </li>");
						});

						//$("#model_listt").autocomplete({
						//    source: firsthtmlairportcode
						//});
						$(".model_list").html(firsthtmlairportcode + html)
					} else {
						$(".model_list").css('display', 'none')

					}
				},

				complete: function () {


				}

			});


		}

		else {
			$(".autocompletelistcity").hide();
		}
	})
</script>




<script>
	$(document).on('click', '.autocompletelist li', function () {
		var item_code = $(this).attr("data-id"); // Get the text content of the clicked <li> element
		var part_no = $(this).attr("part-no"); // Get the text content of the clicked <li> element
		var part_name = $(this).attr("part-name"); // Get the text content of the clicked <li> element
		var part_rate = $(this).attr("rate"); // Get the text content of the clicked <li> element
		$('#txtdepartureairport').val(part_no); // Set the input value to the selected value
		$('#part_name').val(part_name); // Set the input value to the selected value
		$('#unit_rate').val(part_rate); // Set the input value to the selected value
		$('#hid_item').val(item_code); // Set the input value to the selected value
		$(".autocompletelist").css('display', 'none')
		$('.autocompletelist').empty(); // Clear the <ul> list
	});

	$(document).on('click', '.chas_list li', function () {
		var value = $(this).attr("data-id");
		var modl = $(this).attr("modl_id");
		$.ajax({

			url: "/home/inv_search",
			async: true,
			data: "{ 'search': '" + value + "', 'modl': '" + modl + "'}",
			type: 'POST',
			headers: { "Accept": "application/json" },
			processData: false,
			beforeSend: function () {
			},
			contentType: 'application/json',
			success: function (data, textStatus, xhr) {
				console.log(data);

				$('#cust_name').val(data.Ledg_Name);
				$('#mobile_f').val(data.ph1);
				$('#mobile_2').val(data.ph2);
				$('#address').val(data.Ledg_Add1);
				$('#modl').val(data.modl_name);

			},

			complete: function () {


			}

		});

		var part_no = $(this).attr("data-no");
		var item_code = $(this).attr("data-id");
		var reg_no = $(this).attr("reg_no");
		var modl_id = $(this).attr("modl_id");
		var eng_no = $(this).attr("eng_no");

		$('#chass_No').val(part_no); // Set the input value to the selected value
		$('#hid_chas').val(item_code); // Set the input value to the selected value
		$('#hid_model').val(modl_id); // Set the input value to the selected value
		$('#reg_no').val(reg_no); // Set the input value to the selected value
		$('#engine').val(eng_no); // Set the input value to the selected value
		$(".chas_list").css('display', 'none')
		$('.chas_list').empty(); // Clear the <ul> list
	});

	$(document).on('click', '.model_list li', function () {

		var part_no = $(this).attr("data-no");
		var item_code = $(this).attr("data-id");
		var modl_id = $(this).attr("modl_id");

		$('#modl').val(part_no); // Set the input value to the selected value
		$('#hid_model').val(item_code); // Set the input value to the selected value
		$('#hid_model_id').val(modl_id); // Set the input value to the selected value
		$(".model_list").css('display', 'none')
		$('.model_list').empty(); // Clear the <ul> list
	});

</script>


<script>
	$(document).ready(function () {
		// Add event listener to the submit button
		$("#jobcard_save").click(function () {


			var job_card = $("#job_card").val().trim();
			if (job_card == null || job_card == "") {
				alert("Please Select Job_card No. Here!");
				$("#job_card").focus();
				return false;
			}

			var cust_name = $("#cust_name").val().trim();
			if (cust_name == null || cust_name == "") {
				alert("Please Enter Customer Name Here!");
				$("#cust_name").focus();
				return false;
			}

			var mobile_f = $("#mobile_f").val().trim();
			if (mobile_f == null || mobile_f == "") {
				alert("Please Enter Mobile No. Here!");
				$("#mobile_f").focus();
				return false;
			}


			if (mobile_f.length < 10) {
				alert("Please Enter Valid Mobile No. Here!");
				$("#mobile_f").focus();
				return false;
			}


			var address = $("#address").val().trim();
			if (address == null || address == "") {
				alert("Please Enter Address Here!");
				$("#address").focus();
				return false;
			}




			var formdata = new FormData();

			formdata.append("jobcard_no", $('#job_card').val());
			formdata.append("cust_name", $('#cust_name').val());
			formdata.append("mobile_f", $('#mobile_f').val());
			formdata.append("mobile_2", $('#mobile_2').val());
			formdata.append("address", $('#address').val());
			formdata.append("date", $('#date').val());
			formdata.append("reg_no", $('#reg_no').val());
			formdata.append("chass_No", $('#chass_No').val());
			formdata.append("service_type", $('#service_type').val());
			formdata.append("service_adviser", $('#service_adviser').val());
			formdata.append("kms", $('#kms').val());
			formdata.append("avrage", $('#avrage').val());
			formdata.append("modl_code", $('#hid_model_id').val());
			formdata.append("eng_no", $('#engine').val());
			formdata.append("parts_amt", $('#parts_amt').val());
			formdata.append("labour_charg", $('#labour_charg').val());
			formdata.append("total", $('#total').val());
			
			formdata.append("Job_status", $('#job_status').val());
			formdata.append("fule_type", $('#fuel_type').val());


			var ser_value = $('#seervice_book').prop('checked') ? 1 : 0;
			var wheelValue = $('#wheel').prop('checked') ? 1 : 0;
			var extend_Value = $('#extend_warrnt').prop('checked') ? 1 : 0;
			var toolkit_Value = $('#toolkit').prop('checked') ? 1 : 0;
			var mudflaps_Value = $('#mudflaps').prop('checked') ? 1 : 0;
			var fule_Value = $('#fule').prop('checked') ? 1 : 0;
			var jack_Value = $('#jack').prop('checked') ? 1 : 0;
			var boot_Value = $('#boot_mats').prop('checked') ? 1 : 0;
			var dent_Value = $('#Dent').prop('checked') ? 1 : 0;
			var jackhan_Value = $('#jack_handle').prop('checked') ? 1 : 0;
			var ligh_Value = $('#Lighter').prop('checked') ? 1 : 0;
			var crak_Value = $('#Crack').prop('checked') ? 1 : 0;
			var ster_Value = $('#Stereo').prop('checked') ? 1 : 0;
			var tyre_Value = $('#Tyres').prop('checked') ? 1 : 0;
			var peel_Value = $('#Peel').prop('checked') ? 1 : 0;
			var cd_Value = $('#cd_player').prop('checked') ? 1 : 0;
			var battery_Value = $('#battery').prop('checked') ? 1 : 0;
			var scratch_Value = $('#scratch').prop('checked') ? 1 : 0;

			formdata.append("seervice_book", ser_value);
			formdata.append("wheel", wheelValue);
			formdata.append("extend_warrnt", extend_Value);
			formdata.append("toolkit", toolkit_Value);
			formdata.append("mudflaps", mudflaps_Value);
			formdata.append("fule", fule_Value);
			formdata.append("jack", jack_Value);
			formdata.append("boot_mats", boot_Value);
			formdata.append("Dent", dent_Value);
			formdata.append("jack_handle", jackhan_Value);
			formdata.append("Lighter", ligh_Value);
			formdata.append("Crack", crak_Value);
			formdata.append("Stereo", ster_Value);
			formdata.append("Tyres", tyre_Value);
			formdata.append("Peel", peel_Value);
			formdata.append("cd_player", cd_Value);
			formdata.append("battery", battery_Value);
			formdata.append("scratch", scratch_Value);


			formdata.append("part_no", $('#part_no').val());
			formdata.append("part_desc", $('#part_desc').val());
			formdata.append("qty", $('#qty').val());
			formdata.append("part_rate", $('#part_rate').val());
			formdata.append("part_amt", $('#part_amt').val());
			/* formdata.append("part_catg", $('#part_amt').val());*/
			formdata.append("total_amt", $('#total_amt').val());
			formdata.append("labr_no", $('#labr_no').val());
			formdata.append("labr_name", $('#labr_name').val());
			formdata.append("labr_charg", $('#labr_charg').val());


			var files1 = $("#fileupload1").get(0).files;
			var files2 = $("#fileupload2").get(0).files;
			var files3 = $("#fileupload3").get(0).files;
			var files4 = $("#fileupload4").get(0).files;
			var files5 = $("#fileupload5").get(0).files;
			var files6 = $("#fileupload6").get(0).files;
			var files7 = $("#fileupload7").get(0).files;
			var files8 = $("#fileupload8").get(0).files;
			var files9 = $("#fileupload9").get(0).files;
			var files10 = $("#fileupload10").get(0).files;
			var files11 = $("#fileupload11").get(0).files;
			var files12 = $("#fileupload12").get(0).files;

			var files13 = $("#imagecheck").get(0).files;

			formdata.append("fileupload1", files1[0]);
			formdata.append("fileupload2", files2[0]);
			formdata.append("fileupload3", files3[0]);
			formdata.append("fileupload4", files4[0]);
			formdata.append("fileupload5", files5[0]);
			formdata.append("fileupload6", files6[0]);
			formdata.append("fileupload7", files7[0]);
			formdata.append("fileupload8", files8[0]);
			formdata.append("fileupload9", files9[0]);
			formdata.append("fileupload10", files10[0]);
			formdata.append("fileupload11", files11[0]);
			formdata.append("fileupload12", files12[0]);

			formdata.append("fileupload13", files13[0]);

			formdata.append("img1", $('#img1').val());
			formdata.append("img2", $('#img2').val());
			formdata.append("img3", $('#img3').val());
			formdata.append("img4", $('#img4').val());
			formdata.append("img5", $('#img5').val());
			formdata.append("img6", $('#img6').val());
			formdata.append("img7", $('#img7').val());
			formdata.append("img8", $('#img8').val());
			formdata.append("img9", $('#img9').val());
			formdata.append("img10", $('#img10').val());
			formdata.append("img11", $('#img11').val());
			formdata.append("img12", $('#img12').val());
			formdata.append("cust_comp1", $('#cust_comp1').val());
			formdata.append("cust_comp2", $('#cust_comp2').val());
			formdata.append("cust_comp3", $('#cust_comp3').val());
			formdata.append("cust_comp4", $('#cust_comp4').val());
			formdata.append("cust_comp5", $('#cust_comp5').val());
			formdata.append("cust_comp6", $('#cust_comp6').val());
			formdata.append("cust_comp7", $('#cust_comp7').val());
			formdata.append("cust_comp8", $('#cust_comp8').val());
			formdata.append("Cust_Obsr1", $('#Cust_Obsr1').val());
			formdata.append("Cust_Obsr2", $('#Cust_Obsr2').val());
			formdata.append("Cust_Obsr3", $('#Cust_Obsr3').val());
			formdata.append("Cust_Obsr4", $('#Cust_Obsr4').val());
			formdata.append("Cust_Obsr5", $('#Cust_Obsr5').val());
			formdata.append("Cust_Obsr6", $('#Cust_Obsr6').val());
			formdata.append("Cust_Obsr7", $('#Cust_Obsr7').val());
			formdata.append("Cust_Obsr8", $('#Cust_Obsr8').val());
			formdata.append("source1", $('#source1').val());
			formdata.append("source2", $('#source2').val());
			formdata.append("source3", $('#source3').val());
			formdata.append("source4", $('#source4').val());
			formdata.append("source5", $('#source5').val());
			formdata.append("source6", $('#source6').val());
			formdata.append("source7", $('#source7').val());
			formdata.append("source8", $('#source8').val());

			// Get the table data
			var table = document.getElementById('table_body');
			var tableData = [];

			// Loop through each row in the table (skipping the first row which contains headers)
			for (var i = 0; i < table.rows.length; i++) {
				var row = table.rows[i];
				var rowData = {
					part_no: row.cells[0].innerText,
					part_name: row.cells[1].innerText,
					qty: row.cells[2].innerText,
					per_rate: row.cells[3].innerText,
					total: row.cells[4].innerText,
					category: row.cells[5].innerText

				};
				tableData.push(rowData);
			}

			var labr_table = document.getElementById('labr_tablebody');
			var labr_tableData = [];

			// Loop through each row in the table (skipping the first row which contains headers)
			for (var j = 0; j < labr_table.rows.length; j++) {
				var row1 = labr_table.rows[j];
				var rowData1 = {
					labr_no: row1.cells[0].innerText,
					labr_name: row1.cells[1].innerText,
					labr_charge: row1.cells[2].innerText,
					category_lab: row1.cells[3].innerText
				};
				labr_tableData.push(rowData1);
			}


			formdata.append('tabledata', JSON.stringify(tableData));
			formdata.append('labr_tabledata', JSON.stringify(labr_tableData));

			$.ajax({
				type: "POST",
				url: "/home/insert_jobcard",
				data: formdata,
				dataType: "json",
				contentType: false,
				processData: false,
				success: function (data) {
					if (data != null && data.success == true) {

						Swal.fire({
							icon: 'success',
							html: '<p style="font-size: 17px;">' + data.message + '</p>',
							returnFocus: true,
							returnFocus: false,
						}).then((result) => {
							if (result.isConfirmed) {

								window.location.href = '/home/job_card';
							}
						});

					}
					else {

						Swal.fire({
							icon: 'error',
							html: '<p style="font-size: 17px;">' + data.message + '</p>',
							returnFocus: true,
							returnFocus: false,
						}).then((result) => {
							if (result.isConfirmed) {

								return false;
							}
						});
					}

				},
				error: function (xhr, textStatus, errorThrown) {
					console.log(xhr.responseText);
				}
			});
		});
	});

</script>


@* For live date and time *@
<script>
	// Define a function to update the date and time
	function updateDateTime() {
		var dateInput = document.getElementById('date');

		var currentDate = new Date();

		var formattedDate = currentDate.getDate() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getFullYear();

		var formattedTime = currentDate.getHours().toString().padStart(2, '0') + ':' + currentDate.getMinutes().toString().padStart(2, '0');

		dateInput.value = formattedDate + ' ' + formattedTime;

		setTimeout(updateDateTime, 60000);
	}

	window.addEventListener('load', updateDateTime);

</script>



<script>
	// JavaScript
	// Get the checkbox element
	var checkbox = document.getElementById('Dent');

	// Get the modal element
	var modal = document.getElementById('myModal');
	var modalCloseButton = document.getElementsByClassName('close')[0];

	// Function to open the modal
	function openModal() {
		modal.style.display = 'block';
	}

	// Function to close the modal
	function closeModal() {

		modal.style.display = 'none';

	}

	// Function to handle the checkbox change event
	function handleCheckboxChange() {
		// Check if the checkbox is checked
		if (checkbox.checked) {
			// Open the modal
			openModal();
		} else {
			// Close the modal
			closeModal();
		}
	}

	// Event listener for checkbox change event
	checkbox.addEventListener('change', handleCheckboxChange);

	// Event listener for modal close button click event
	modalCloseButton.addEventListener('click', closeModal);

</script>

@* adding the suffix decimal *@
<script>
	function addSuffix(input) {
		// Get the input value
		var value = input.value;

		// Check if the input has a value
		if (value) {
			// Add the suffix if the input is not already suffixed
			if (!value.endsWith('.00')) {
				input.value = value + '.00';
			}
		}
	}

</script>

@* for job card history *@
<script>
	$(document).ready(function () {
		$('#reg_no').on('blur', function () {
			var regNo = $(this).val();

			$.ajax({
				url: '/home/jobhistory',
				method: 'POST',
				data: { reg_no: regNo },
				success: function (response) {
					// Clear the existing table rows
					$('#table_history tbody').empty();

					// Iterate over the response data
					$.each(response, function (index, item) {
						var row = $('<tr>');
						row.append($('<td>').text(item.Job_no));
						var date = new Date(parseInt(item.INV_Date.substr(6)));
						var formattedDate = date.toLocaleString('en-GB', { day: '2-digit', month: '2-digit', year: '2-digit', hour: '2-digit', minute: '2-digit' });
						row.append($('<td>').text(formattedDate));
						row.append($('<td>').text(item.Ledg_Name));
						row.append($('<td>').text(item.Bill_Amt));
						row.append($('<td>').text(item.Ph1));
						row.append($('<td>').text(item.status));

						// Append the row to the table body
						$('#table_history tbody').append(row);
					});
				},
				error: function (xhr, status, error) {
					console.log(error);
				}
			});
		});
	});
</script>

@* select all checkboxes *@
<script>
	// Get the checkbox elements
	const selectAllCheckbox = document.getElementById('select_all');
	const serviceBook = document.getElementById('seervice_book');
	const wheel = document.getElementById('wheel');
	const toolkit = document.getElementById('toolkit');
	const mudflaps = document.getElementById('mudflaps');
	const boot = document.getElementById('boot_mats');
	const light = document.getElementById('Lighter');
	const stereo = document.getElementById('Stereo');
	const tyres = document.getElementById('Tyres');


	// Add an event listener to the selectAllCheckbox
	selectAllCheckbox.addEventListener('change', function () {
		// If selectAllCheckbox is checked, check the other checkboxes; otherwise, uncheck them
		if (this.checked) {
			serviceBook.checked = true;
			wheel.checked = true;
			toolkit.checked = true;
			mudflaps.checked = true;
			boot.checked = true;
			light.checked = true;
			stereo.checked = true;
			tyres.checked = true;

		} else {
			serviceBook.checked = false;
			wheel.checked = false;
			toolkit.checked = false;
			mudflaps.checked = false;
			boot.checked = false;
			light.checked = false;
			stereo.checked = false;
			tyres.checked = false;
		}
	});

</script>

@* delete table row *@
<script>
	$(document).ready(function () {
		$('.delete-link').click(function (e) {
			e.preventDefault();

			var jobcardNo = document.getElementById('job_card').value;
			var partCode = $(this).closest('tr').find('td:nth-child(1)').text();

			// Make the AJAX request
			$.ajax({
				url: '/home/deleteitem',
				type: 'POST',
				data: {
					jobcard_no: jobcardNo,
					part_code: partCode
				},
				success: function (response) {
					// Handle the success response
					console.log('Item deleted successfully.');
					// Perform any necessary actions or UI updates, such as removing the deleted row from the table
					$(this).closest('tr').remove();
				},
				error: function (xhr, status, error) {
					// Handle the error response
					console.log('Error deleting item:', error);
					// Add any error handling or display error message here
				}
			});
		});

		$('.delete-link1').click(function (e) {
			e.preventDefault();

			var jobcardNo = document.getElementById('job_card').value;
			var labCode = $(this).closest('tr').find('td:nth-child(1)').text();

			// Make the AJAX request
			$.ajax({
				url: '/home/deleteitem1',
				type: 'POST',
				data: {
					jobcard_no: jobcardNo,
					lab_code: labCode
				},
				success: function (response) {
					// Handle the success response
					console.log('Item deleted successfully.');
					// Perform any necessary actions or UI updates, such as removing the deleted row from the table
					$(this).closest('tr').remove();
				},
				error: function (xhr, status, error) {
					// Handle the error response
					console.log('Error deleting item:', error);
					// Add any error handling or display error message here
				}
			});
		});
	});
</script>
